.box 
	{
		float: left;
		width: 40%;
		height: 225px;
		border: 10px solid #000;
		padding: 5px;
	}

header 
	{
		text-align: center;
	}
.taskform
	{
		border: 2px solid red;
		width: 800px;
		padding: 5px;
	}

#urgimp 
		{ 	
			border-top: 10px solid #FFF; 
			border-left: 10px solid #FFF; 
		}
#noturgimp 
		{ 	
			border-top: 10px solid #FFF; 
			border-right: 10px solid #FFF; 
		}
#urgnotimp 
		{ 	
			border-bottom: 10px solid #FFF; 
			border-left: 10px solid #FFF; 
		}
#noturgnotimp 
		{ 	
			border-bottom: 10px solid #FFF; 
			border-right: 10px solid #FFF; 
		}

p { font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;}
li { font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;}

// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
